body {
  background-color: orangered;
  color: white;
  font-family: Courier;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 4rem;
}

pre {
  text-align: center;
  font-family: monospace;
}

.main-content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

@media (min-height: 300px) {
    .footer {
        position: sticky;
        bottom: 0;
    }
}
